# Data Lake Testing Notebook
This notebook demonstrates querying your MinIO + Iceberg + Trino data lake.

In [ ]:
# Install required packages
!pip install trino pandas pyiceberg boto3

In [ ]:
import trino
import pandas as pd

# Connect to Trino
conn = trino.dbapi.connect(
    host='trino-coordinator',
    port=8080,
    user='admin'
)

# Test connection
cur = conn.cursor()
cur.execute("SHOW CATALOGS")
catalogs = cur.fetchall()
print("Available catalogs:", catalogs)

In [ ]:
# Create Iceberg table from sample data
create_table_sql = """
CREATE TABLE iceberg.default.employees (
  id bigint,
  name varchar,
  department varchar,
  salary bigint,
  timestamp timestamp
) WITH (
  location = 's3://warehouse/employees/',
  format = 'PARQUET'
)
"""

cur.execute(create_table_sql)
print("Table created successfully!")